/* Global Styles */
body {
  font-family: "Almarai", serif;
}
a {
  text-decoration: none;
  color: #6d738f;
}
.text-heading {
  font-family: "Amiri", serif;
}
.color-primary {
  color: #897ae3;
}
.color-secondary {
  color: #6d738f;
}
.bg-color-primary {
  background-color: #897ae3;
}

.bg-color-secondary {
  background-color: #e5e2f7;
}

.bg-color-secondary-transparent {
  background-color: rgba(229, 226, 247, 0.47);
}

.bg-color-ternary {
  background-color: #636b937e;
}

.bg-color-footer {
  background-color: #101840;
}

.btn {
  border-radius: 10px;
  padding: 10px 20px;
  width: 350px;
}

.btn-primary {
  background-color: #897ae3;
  color: #fff;
  border: none;
}

.btn-outline-primary {
  background-color: white;
  color: #897ae3;
  border: 2px solid #897ae3;
}

.btn-outline-primary i {
  color: #897ae3;
}

.btn-primary:hover {
  background-color: #6d738f;
  color: #fff;
  border: none;
}

.btn-outline-primary:hover {
  background-color: #897ae3;
  color: #fff;
  border: none;
}

.btn-outline-primary:hover i {
  color: #fff;
}

/* End Global Styles */

/* Navbar Styles */
.myNav {
  font-family: "Almarai", serif;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #fff !important;
}
.img-s {
  height: 50px;
  width: 300px;
}

.nav-item .nav-link {
  color: #6d738f;
}

.nav-item .login {
  background-color: #897ae3;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  margin-right: 10px;
}

.nav-item .nav-link:hover {
  color: #897ae3;
}

.nav-item .login:hover {
  background-color: #6d738f;
  color: #fff;
}

/* End Navbar Styles */

/* Header Styles */
.header {
  background-image: url("../images/arm.png");
  background-size: auto 50%;
  background-position: left top 30px;
  background-repeat: no-repeat;
}

.card-icon {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #897ae3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 10px;
}

.card-body a:hover {
  color: #8a7ae3a9;
}

/* End Header Styles */

/* 2nd Section Styles */
.img-container {
  position: relative;
}

.img-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.btn-play {
  width: 60px;
  height: 60px;
  background-color: #8f7ef3;
  border-radius: 50%;
  border: none;
  font-size: 1.5rem;
  color: white;
  box-shadow: 0 0 20px #8f7ef3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(143, 126, 243, 0.7);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(143, 126, 243, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(143, 126, 243, 0);
  }
}
.btn-play {
  animation: pulse 2s infinite;
}
